* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main {
    background-image: radial-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.8)), url("assets/bg.jpg");
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);

}

.main .box {
    height: 80vh;
    width: 100%;
}

nav {
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 62px;
    padding: 5px;
}

.button select {
    height: 4vh;
    border-radius: 3px soild white;
    border-radius: 3px;
    font-weight: 900;
    width: 7vw;
    color: white;
    background-color: rgba(21, 21, 21, 0.2);

    margin: 23px;
}

.button .btn {
    height: 4vh;
    border: 5px soild red;
    border-radius: 5px;
    font-weight: 900;
    width: 5vw;
    background-color: red;
    color: white;

}

nav img {
    color: red;
    width: 120px;
    position: relative;
    z-index: 20;
    opacity: 1;

}

.button {
    position: relative;
    z-index: 20;
}

div .hero {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 1000;
    height: calc(100% - 62px);
    position: relative;
    gap: 21px;
    font-family: 'Martel Sans', sans-serif;
}

input {

    height: 6vh;
    width: 20vw;
    font-weight: 900;
    color: white;
    background-color: rgba(23, 23, 23, 0.2);
    border-radius: 5px;
    border: 2px solid white;



}

.niche button {
    height: 6vh;
    width: 9vw;
    border-radius: 5px;
    border: 2px solid red;
    background-color: red;
    color: white;
    font-weight: 600;
    font-size: 15px;
}

.partition {
    height: 7px;
    width: 100%;
    background-color: rgb(112, 109, 109);

}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    background-color: black;
    color: white;
}

.image {
    position: relative;
}

.image img {
    width: 36vw;
    position: relative;
    z-index: 10;
}

.image video {
    position: absolute;
    top: 51px;
    right: 0px;

}

.first>div {
    display: flex;
    flex-direction: column;
}

.first>div :first-child {
    font-size: 48px;
    font-weight: bolder;

}

.first>div :nth-child(2) {
    font-size: 23px;
    font-weight: 200;

}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    background-color: black;
    color: white;
}

.second>div {
    display: flex;
    flex-direction: column;
}

.second>div :first-child {
    font-size: 48px;
    font-weight: bolder;

}

.second>div :nth-child(2) {
    font-size: 23px;
    font-weight: 200;

}

.third {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    background-color: black;
    color: white;
}

.third>div {
    display: flex;
    flex-direction: column;
}

.third>div :first-child {
    font-size: 48px;
    font-weight: bolder;

}

.third>div :nth-child(2) {
    font-size: 23px;
    font-weight: 200;

}

.image-1 {
    position: relative;
}

.image-1 img {
    width: 36vw;
    position: relative;

}

.image-1 video {
    position: absolute;
    top: 31px;
    right: 20px;

}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    background-color: black;
    color: white;
}

.fourth>div {
    display: flex;
    flex-direction: column;
}

.fourth>div :first-child {
    font-size: 48px;
    font-weight: bolder;

}

.fourth>div :nth-child(2) {
    font-size: 23px;
    font-weight: 200;

}

.faq {
    background-color: black;
}

.faq .faqbox h1 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 23px;
    font-size: 48px;
}
.faq .faqbox span:hover{
background : #484747;
}

.faq .faqbox span {
    background-color: #2e2e2e;
    display: flex;
    color: white;
    font-size: larger;
   justify-content: space-between;
   padding: 24px;
   max-width:60vw ;
   margin: 34px auto;
   cursor: pointer;
  border-radius: 3px;
    

}
@media screen and  ( max-width:1300px){
.faq .faqbox span{
    flex-wrap: wrap;
    display: grid;
    grid-template-rows: 1fr 1fr ;
    
}
}




















/* https://assets.nflxext.com/ffe/siteui/vlv3/655a9668-b002-4262-8afb-cf71e45d1956/5ff265b6-3037-44b2-b071-e81750b21783/IN-en-20240715-POP_SIGNUP_TWO_WEEKS-perspective_WEB_c6d6616f-4478-4ac2-bdac-f54b444771dd_large.jpg */